#textdomain wesnoth-A_Tale_of_Sand_and_Snow

[scenario]
    id=Debut
    next_scenario=Suite

    name=_"Créer des nouvelles unités"
    map_data="{~add-ons/A_Tale_of_Sand_and_Snow/maps/01_Defend_the_Forest.map}"
    turns=10

    {MORNING}
    {DUSK}
    [event]
        name=preload
        first_time_only=no
        {LUA_INCLUDE}
        [lua]
            code=<< wesnoth.require "~add-ons/A_Tale_of_Sand_and_Snow/test.lua">>
        [/lua]
    [/event]

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description=_"Manipuler une nouvelle unité"
                condition=win
            [/objective]
            [objective]
                description=_"Fin des tours atteinte"
                condition=lose
            [/objective]
            [note]
                description=_"Il s'agit simplement d'un scénario de test, pas de panique !"
            [/note]
        [/objectives]
    [/event]

    [side]
        side=1
        controller=human
        user_team_name=_"Les 7 merveilleux"

        type=vranken4
        id=vranken
        name=_"Vranken"
        hitpoints = 20
        canrecruit=yes
        role="hero"

        [variables]
            arbre=
            xp_type=
            xp=
            obj=
            bloodlust=
            comp_spe=
            comp_spe_lvl=
            comp_spe_cd=
            [special_skills]
            [/special_skills]
        [/variables]
        [unit]
            type=Royal Guard
            id=eee
            x,y=1,1
        [/unit]
        {GOLD 200 100 50}
        {INCOME 0 0 0}
    [/side]

    [event]
        name=turn 1
        [lua]
            code = << HE.init("vranken")
                        local vr = wesnoth.get_unit("vranken")
                        vr.variables.xp=1000
                            >>
        [/lua]
    [/event]

    [side]
        side=2
        controller=ai

        user_team_name=_"Les 1 merveilleux"

        type=Sergeant
        id=Enne
        name=_"Bouse"
        canrecruit=yes

        {GOLD 200 100 50}
        {INCOME 0 0 0}
    [/side]

    [event]
        name=start
        {GENERIC_UNIT 2 (Vampire Bat) 18 18}
        {GENERIC_UNIT 2 (Vampire Bat) 18 19}
        {GENERIC_UNIT 2 (Vampire Bat) 19 20}

        [set_menu_item]
            id=test
            description=_ "Test"

            [command]
                [lua]
                    code=<<local args= ...
						test(args.x,args.y)>>
                    [args]
                        x = $x1
                        y = $y1
                    [/args]
                [/lua]
            [/command]
        [/set_menu_item]

        [set_menu_item]
            id=lvlup
            description=_ "Avancer l'unité"
            [command]
                [set_variable]
                    name=unit.experience
                    value=$unit.max_experience
                [/set_variable]
                [unstore_unit]
                    variable=unit
                    find_vacant=no
                    advance=yes
                    fire_event=yes
                [/unstore_unit]
            [/command]
        [/set_menu_item]

        [lua]
            code =<<
					local u ={type ="brinx4", id="brinx",name="Brinx",role="hero",moves=10,{"abilities",{{"isHere",{id="elusive",name="Elusive"}}}},{"variables" ,{xp =0 ,xp_type=0,arbre=0,obj=0,bloodlust=0,T.special_skills{},comp_spe =0 ,comp_spe_lvl = 0,comp_spe_cd = 0 } } }
					wesnoth.put_unit(u,15,16)
					HE.init("brinx")
                    local br = wesnoth.get_unit("brinx")
                    br.variables.xp=1000
					local u = {type ="sword_spirit2", id="sword_spirit",name="Göndhul",role="hero",{"abilities",{{"isHere",{id="war_jump",name="War jump"}}}},{"variables" ,{xp =0 ,xp_type=0,arbre=0,obj=0,bloodlust=0,T.special_skills{} ,comp_spe =0 ,comp_spe_lvl = 0,comp_spe_cd = 0 } } }
					wesnoth.put_unit(u,15,18)
					HE.init("sword_spirit")
					wesnoth.put_unit({id="drumar",type="drumar4",side=1,name="Dru",role="hero",{"variables",
    {xp="",obj="",bloodlust="",comp_spe="",comp_spe_lvl="",comp_spe_cd="",T.special_skills{}}}},20,20)
                    HE.init("drumar")
                    local dru = wesnoth.get_unit("drumar")
                    dru.variables.xp=1000
                    

                    local u ={type ="bunshop3", id="bunshop",name="Bunshop",role="hero",moves=10,{"variables" ,{xp =0 ,xp_type=0,arbre=0,obj=0,bloodlust=0,T.special_skills{},comp_spe =0 ,comp_spe_lvl = 0,comp_spe_cd = 0 } } }
					wesnoth.put_unit(u,18,18)
					HE.init("bunshop")

                    local u ={type ="xavier4", id="xavier",name="Xavier",role="hero", {"variables" ,{xp =0 ,xp_type=0,arbre=0,obj=0,bloodlust=0,T.special_skills{},comp_spe =0 ,comp_spe_lvl = 0,comp_spe_cd = 0 } } }
					wesnoth.put_unit(u,19,18)
					HE.init("xavier")



                    local u ={type ="rymor4", id="rymor",name="BR",role="hero",moves=10,{"variables" ,{xp =0 ,arbre=0,bloodlust=0,T.special_skills{},comp_spe =0 ,comp_spe_lvl = 0,comp_spe_cd = 0 } } }
					wesnoth.put_unit(u,18,19)
					HE.init("rymor")
                    local u =wesnoth.get_unit("vranken")

u.variables["special_skills"]= {leeches_cac = 0 , drain_cac =0 , atk_brut=0 , transposition=0}
local u=wesnoth.get_unit("brinx")
 u.variables["special_skills"]= {def_muspell = 0 , dmg_muspell =0 , fresh_blood_musp=0 , muspell_rage=0}
 
                    wesnoth.put_unit({type = "Sergeant", side = 2},15,15)
					>>
        [/lua]
    [/event]
[/scenario]
