#textdomain wesnoth-A_Tale_of_Sand_and_Snow

[scenario]
    id=Playground

    name=_"Test and pratice special skills"
    map_data="{~add-ons/A_Tale_of_Sand_and_Snow/maps/Playground.map}"
    turns=10

    {MORNING}
    {DUSK}
    [event]
        name=preload
        first_time_only=no
        {LUA_INCLUDE}
        [lua]
            code=<< wesnoth.require "~add-ons/A_Tale_of_Sand_and_Snow/lua/_playground.lua">>
        [/lua]
    [/event]

    [side]
        side=1
        controller=human
        user_team_name=_"Les 7 merveilleux"

        type=vranken4
        id=vranken
        name=_"Vranken"
        hitpoints = 20
        canrecruit=yes
        {GOLD 200 100 50}
        {INCOME 0 0 0}
    [/side]

    [side]
        side=2
        controller=ai

        user_team_name=_"Les 1 merveilleux"

        type=Sergeant
        id=Enne
        name=_"Bouse"
        canrecruit=yes

        {GOLD 200 100 50}
        {INCOME 0 0 0}
    [/side]
[/scenario]
