#textdomain wesnoth-A_Tale_of_Sand_and_Snow
[unit_type]
    id=otchigin1
    name= _ "Muspell Sorcerer"
    race=muspell
    image="units/otchigins/otchigin1.png"
    profile="portraits/otchigin1.png"
    hitpoints=70
    movement_type=orcishfoot
    [defense]
        village=30
    [/defense]
    movement=3
    experience=36
    level=2
    alignment=chaotic
    advances_to=otchigin2
    cost=17
    usage=mixed fighter
    description= _ "Muspell Sorcerers are the guardians of Muspell traditions, and the voice of the Tengi.
    They are able to enter the limbes and use it to communicate across long distances. They are usually wise advisors of Muspell war leaders."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/otchigins/otchigin1.png" "units/otchigins/otchigin1.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=staff
        description= _"staff"
        type=impact
        range=melee
        damage=5
        number=1
        icon=attacks/druidstaff.png
    [/attack]
    [attack]
        name=curse
        description= _"curse"
        type=cold
        range=ranged
        damage=20
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        icon=attacks/curse.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=200
            halo="halo/elven/druid-healing8.png:50,halo/elven/druid-healing7.png:50,halo/elven/druid-healing6.png:50,halo/elven/druid-healing5.png:50,halo/elven/druid-healing4.png:50,halo/elven/druid-healing3.png:50,halo/elven/druid-healing2.png:50,halo/elven/druid-healing1.png:50"
            offset=1.0~0.0
        [/missile_frame]
        [frame]
            begin=-200
            end=0
            image="units/otchigins/otchigin1.png"
        [/frame]
        [frame]
            begin=0
            end=200
            image="units/otchigins/otchigin1.png"
            sound=magicmissile.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/otchigins/otchigin1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/otchigins/otchigin1.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/otchigins/otchigin1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/otchigins/otchigin1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
