#define AMLA_DUMMY
    [advancement]
        id=amla_dummy
        description = _ "Suprise !"
    [/advancement]
#enddef

#define TENGI_RES LVL
    [resistance]
        id=tengi_res
        name= _"Force field"
        description =_ "The power of the Tengi makes Muspell Sorcerer very resilient..."
        description_inactive= _ "In the Limbes, everything is different..."
        value="(70 + {LVL}*5)"
        max_value=95
        affect_self=yes
        [filter]
            [not]
                status="_limbe" 
            [/not]
        [/filter]
    [/resistance]
    [regenerate]
        id=tengi_regen
        name = "Tengi's strengh"
        description =_ "The power of the Tengi grants Muspell Sorcerer high regeneration..."
        description_inactive= _ "In the Limbes, everything is different..."
        value="(40 + {LVL}*20)"
        poison=cured
        affect_self=yes
        [filter]
            [not]
            status="_limbe" 
            [/not]
        [/filter]
    [/regenerate]
#enddef

# used in sword_spirit .cfg files
#define AB_FEARLOVE
    # declare these tags to show a custom status
    [fearlove]
        affect_allies=yes
        affect_self=no
        affect_enemies=no
        [affect_adjacent]
        [/affect_adjacent]
    [/fearlove]
    [fearlove_self]
        affect_allies=no
        affect_self=yes
        affect_enemies=no
        [filter]
            [filter_adjacent]
                is_enemy=no
            [/filter_adjacent]
        [/filter]
    [/fearlove_self]
    [resistance]
        id=fearlove
        name=_"Fear of love"
        description=_"Deadly endanger close friendly units ! (<span color='red'>reduces</span> resistances by <span color='red'>100%</span> for allies and <span color='red'>50%</span> for himself"
        affect_allies=yes
        affect_self=no
        affect_enemies=no
        [affect_adjacent]
        [/affect_adjacent]
        value=-100
        max_value=100
    [/resistance]
    [resistance]
        id=fearlove_self
        affect_allies=no
        affect_self=yes
        affect_enemies=no
        [filter]
            [filter_adjacent]
                is_enemy=no
            [/filter_adjacent]
        [/filter]
        value=-50
        max_value=100
    [/resistance]
#enddef